dox
pix
vid
mus
prog
tmp
mt
dw
web
bin/scripts/files/wall.png
bin/scripts/files/wall2.png
bin/dmenu
bin/roms
bin/st
bin/tremc
bin/Katawa Shoujo/
bin/deezloader/
bin/isos/
bin/scripts/files/cover.png
bin/scripts/tools/catpdf
bin/tex4ebook/
.Xauthority
.abook/
.android/
.bash_history
.cache/
.config/Deezloader Remix/
.config/GIMP/
.config/KindleComicConverter/
.config/MusicBrainz/
.config/Pinta/
.config/QtProject.conf
.config/Unknown Organization/
.config/calibre/
.config/cef_user_data/
.config/coc/
.config/configstore/
.config/dconf/
.config/discord/
.config/dolphinrc
.config/fish/fish_variables
.config/gtk-2.0/
.config/gtk-3.0/
.config/htop/
.config/inkscape/
.config/klavaro/
.config/libreoffice/
.config/libvirt/
.config/menus/
.config/mono.addins/
.config/mpd/database
.config/mpd/log
.config/mpd/pid
.config/mpd/state
.config/mpd/sticker.sql
.config/mpv/watch_later/
.config/msmtp/
.config/mutt/
.config/ncmpcpp/error.log
.config/nvim-qt/
.config/nvim/plugged/
.config/nvim/session/
.config/nvim/vimwiki/
.config/pavucontrol.ini
.config/pulse/
.config/ranger/plugins/
.config/tlpui/
.config/transmission-daemon/
.config/vivaldi/
.config/vlc/
.config/xfce4/
.config/zoomus.conf
.gitconfig
.gnupg/
.java/
.local/bin/
.local/include/
.local/lib/
.local/share/.vivaldi_reporting_data
.local/share/Anki/
.local/share/Anki2/
.local/share/Meltytech/
.local/share/Trash/
.local/share/calibre-ebook.com/
.local/share/calibre-parallel/
.local/share/feral-interactive/
.local/share/fish/
.local/share/gem/
.local/share/icons/
.local/share/klavaro/
.local/share/libvirt/
.local/share/mail/
.local/share/nvim/
.local/share/ranger/
.local/share/recently-used.xbel
.local/share/user-places.xbel
.local/share/user-places.xbel.bak
.local/share/user-places.xbel.tbcache
.local/share/vlc/
.local/share/vulkan/
.local/share/xorg/
.local/share/zathura/
.mbsyncrc
.mozilla/
.mysql/
.netbeans/
.notmuch-config
.npm/
.password-store/
.pki/
.pulse-cookie
.putty/
.pylint.d/
.ssh/
.ssr/
.viminfo
.yEd/
.yarnrc
.zoom/
med/
