dox
pix
prog
tmp
mt
dw
med
bin/scripts/files/wall1.png
bin/scripts/files/wall2.png
bin/scripts/foreign
bin/scripts/files/hyp-monitors
bin/scripts/files/wall1.png
bin/progs
bin/isos/
stl/
.Xauthority
.abook/
.android/
.bash_history
.cache/
.local/
bin/scripts/bspwm/mender-artifact
bin/scripts/files/monitors
bin/scripts/tools/matlab_gnutls_fix
.MATLABConnector/
.MathWorks/
.STMicroelectronics/
.Xdefaults
.arduino15/
.arduinoIDE/
.bash_login
.cargo/
.cert/
.config/Arduino IDE/
.config/GIMP/
.config/Gpredict/
.config/JetBrains/
.config/Logic/
.config/Otii 3/
.config/Pinta/
.config/Qoitech AB/
.config/QtProject.conf
.config/SEGGER/
.config/STM32CubeMonitor/
.config/Trolltech.conf
.config/arduino-ide/
.config/autostart/
.config/calibre/
.config/cat_installer/
.config/chromium/
.config/circuittikztool/
.config/dconf/
.config/dibuja/
.config/discord/
.config/dolphinrc
.config/filetypesrc
.config/fish/fish_variables
.config/fmcw/
.config/github-copilot/
.config/glib-2.0/
.config/gnuradio/
.config/go/
.config/gtk-2.0/
.config/herbstluftwm/
.config/htop/
.config/ibus/bus/
.config/ibus/rime/
.config/jgit/
.config/jxbrowser/
.config/kde.org/
.config/kdeconnect/
.config/kdeglobals
.config/keepassxc/
.config/knfsshare
.config/kolourpaintrc
.config/libfm/
.config/libreoffice/
.config/ltspice/
.config/msmtp/
.config/mutt/
.config/nvim/coc-settings.json
.config/nvim/session/
.config/nvim/vimwiki/
.config/okularpartrc
.config/okularrc
.config/onlyoffice/
.config/pavucontrol.ini
.config/pcmanfm/
.config/pulse/
.config/qBittorrent/
.config/qalculate/
.config/ranger/commands_full.py
.config/ranger/plugins/
.config/session/
.config/sigrok/
.config/spotify/
.config/systemd/
.config/wireshark/
.gnupg/
.cshrc
.cshrc.bak
.dotnet/
.espressif/
.gitconfig
.gradle/
.icons/
.imtoolrc
.iraf/
.java/
.jdks/
.login
.ltspice/
.m2/
.matlab/
.mbsyncrc
.mozilla/
.netbeans/
.node-red/
.notmuch-config
.npm/
.npmrc
.nuget/
.password-store/
.pki/
.profile
.pulse-cookie
.rnd
.smpd
.ssh/
.ssr/
.stm32cubeide/
.stm32cubemx/
.stmcube/
.stmcufinder/
.sunpinyin/
.swt/
.tcshrc
.texlive/
.viminfo
.wine/
.yarnrc
