! special
*foreground      : #f8f8f2
*foreground_bold : #f8f8f2
*cursor          : #90A4AE
*background      : #121212

! black
.color0  : #000000
.color8  : #121212

! red
.color1  : #ff5555
.color9  : #ff6e67

! green
.color2  : #50fa7b
.color10 : #5af78e

! yellow
.color3  : #f1fa8c
.color11 : #f4f99d

! blue
.color4  : #EEEEEE
.color12 : #EEEEEE

! magenta
.color5  : #ff79c6
.color13 : #ff92d0

! cyan
.color6  : #64B5F6
.color14 : #64B5F6

! white
.color7  : #bfbfbf
.color15 : #e6e6e6


! Rofi
rofi.color-enabled: true
rofi.color-window: #242424, #c6c8c5, #c6c8c5
rofi.color-normal: #242424, #707880, #242424, #242424, #c6c8c5
rofi.color-active: #242424, #707880, #242424, #242424, #c6c8c5
rofi.color-urgent: #242424, #707880, #242424, #242424, #c6c8c5

rofi.separator-style: solid
rofi.sidebar-mode: false
rofi.lines: 5
rofi.font: Source Code Pro 9
rofi.bw: 1
rofi.columns: 3
rofi.padding: 4
rofi.fixed-num-lines: true
rofi.hide-scrollbar: true
