[Unit]
Description=pixel-lock
Before=sleep.target

[Service]
User=root
Environment=PATH=/usr/local/sbin:/usr/local/bin:/usr/bin:/usr/bin/site_perl:/usr/bin/vendor_perl:/usr/bin/core_perl
Type=forking
ExecStart=/usr/bin/pixel-lock
TimeoutSec=5

[Install]
WantedBy=sleep.target
