[Unit]
Description=pixelLock
Before=sleep.target

[Service]
User=havrak
Type=forking
Environment=DISPLAY=:0
ExecStart=/usr/bin/pixel-lock

[Install]
WantedBy=sleep.target
